.st-emotion-cache-1wrcr25 {
  background: linear-gradient(248deg, #1a8290 19.64%, #407b54 89.06%);
}

.st-emotion-cache-1om1ktf {
  border-radius: 26px;
  opacity: 0.7;
  background: #145050;
}

.st-emotion-cache-1qg05tj {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}